<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center">
	<div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()">Home</a></li>
			  <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()">Components</a></li>
			  <li class="breadcrumb-item active" aria-current="page">Alerts</li>
			</ol>
		</nav>
	</div>
	<div class="ml-auto">
		<div class="btn-group" ngbDropdown>
			<button type="button" class="btn btn-sm btn-primary waves-effect" id="dropdownBasic1" ngbDropdownToggle>Settings <span class="sr-only">Toggle Dropdown</span></button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right dropdown-menu-lg-left"> 
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
				<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
				<a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
				<div class="dropdown-divider"></div> 
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Separated link</a>
			</div>
		</div>
	</div>
</div>
<h4 class="mb-4">Alerts</h4>
<!--end breadcrumb-->
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Color examples</h4>
		</div>
		<hr/>
		<div class="alert bg-primary text-white alert-dismissible fade show" role="alert">A simple primary alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert bg-secondary text-white  alert-dismissible fade show" role="alert">A simple secondary alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert bg-success text-white alert-dismissible fade show" role="alert">A simple success alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert bg-danger text-white alert-dismissible fade show" role="alert">A simple danger alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert bg-warning text-white alert-dismissible fade show" role="alert">A simple warning alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert bg-info text-white alert-dismissible fade show" role="alert">A simple info alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert bg-dark text-white alert-dismissible fade show" role="alert">A simple dark alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Basic examples</h4>
		</div>
		<hr/>
		<div class="alert alert-primary alert-dismissible fade show" role="alert">A simple primary alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-secondary alert-dismissible fade show" role="alert">A simple secondary alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert">A simple success alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">A simple danger alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">A simple warning alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-info alert-dismissible fade show" role="alert">A simple info alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-light alert-dismissible fade show" role="alert">A simple light alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-dark alert-dismissible fade show" role="alert">A simple dark alert—check it out!
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Alert with links</h4>
		</div>
		<hr/>
		<div class="alert alert-primary alert-dismissible fade show" role="alert">A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-secondary alert-dismissible fade show" role="alert">A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-success alert-dismissible fade show" role="alert">A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-info alert-dismissible fade show" role="alert">A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-light alert-dismissible fade show" role="alert">A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-dark alert-dismissible fade show" role="alert">A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">	<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
</div>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Additional content</h4>
		</div>
		<hr/>
		<div class="alert alert-primary" role="alert">
			<h4 class="alert-heading">Well done!</h4>
			<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
			<hr>
			<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
		</div>
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Well done!</h4>
			<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
			<hr>
			<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
		</div>
		<div class="alert alert-info" role="alert">
			<h4 class="alert-heading">Well done!</h4>
			<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
			<hr>
			<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
		</div>
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Well done!</h4>
			<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
			<hr>
			<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
		</div>
		<div class="alert alert-dark" role="alert">
			<h4 class="alert-heading">Well done!</h4>
			<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
			<hr>
			<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
		</div>
	</div>
</div>